<!-- Callouts -->
<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id omnis modi
        nihil temporibus repellat neque ut totam quaerat tempora placeat,
        assumenda qui officia quibusdam architecto veniam perferendis veritatis?
        Libero, eius.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
