<!-- Collapsible -->
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ab harum
    aut minus doloremque fugit quia laboriosam eos dolores tempora.
  </div>
</div>
